In [1]:
import pandas as pd
import numpy as np

In [14]:
a = np.random.normal( 0 , 1, size  = (100,3))
b = np.random.randint(1,20, size = (100,))

In [16]:
a.shape, b.shape, b.reshape((b.shape[0],1)).shape

((100, 3), (100,), (100, 1))

In [20]:
pandas_a = pd.DataFrame(a, columns=['1','2','3'])
pandas_b = pd.DataFrame(b, columns=['4'])

In [23]:
import pandas as pd

# Création des deux DataFrames
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David']
})

df2 = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'age': [23, 34, 45, 56]
})

# Jointure Inner (intersection des deux DataFrames)
inner_join = pd.merge(df1, df2, on='id', how='inner')

# Jointure Gauche (toutes les lignes de df1, même si pas de correspondance dans df2)
left_join = pd.merge(df1, df2, on='id', how='left')

# Jointure Droite (toutes les lignes de df2, même si pas de correspondance dans df1)
right_join = pd.merge(df1, df2, on='id', how='right')

# Afficher les résultats
print("Inner Join:\n", inner_join)
print("\nLeft Join:\n", left_join)
print("\nRight Join:\n", right_join)

Inner Join:
    id      nom  age
0   3  Charlie   23
1   4    David   34

Left Join:
    id      nom   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  23.0
3   4    David  34.0

Right Join:
    id      nom  age
0   3  Charlie   23
1   4    David   34
2   5      NaN   45
3   6      NaN   56

In [24]:
import pandas as pd

# Création des deux DataFrames avec des noms de colonnes différents
df1 = pd.DataFrame({
    'id_personne': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David']
})

df2 = pd.DataFrame({
    'id_individu': [3, 4, 5, 6],
    'age': [23, 34, 45, 56]
})

# Jointure Inner (intersection des deux DataFrames)
inner_join = pd.merge(df1, df2, left_on='id_personne', right_on='id_individu', how='inner')

# Jointure Gauche (toutes les lignes de df1, même si pas de correspondance dans df2)
left_join = pd.merge(df1, df2, left_on='id_personne', right_on='id_individu', how='left')

# Jointure Droite (toutes les lignes de df2, même si pas de correspondance dans df1)
right_join = pd.merge(df1, df2, left_on='id_personne', right_on='id_individu', how='right')

# Afficher les résultats
print("Inner Join:\n", inner_join)
print("\nLeft Join:\n", left_join)
print("\nRight Join:\n", right_join)

Inner Join:
    id_personne      nom  id_individu  age
0            3  Charlie            3   23
1            4    David            4   34

Left Join:
    id_personne      nom  id_individu   age
0            1    Alice          NaN   NaN
1            2      Bob          NaN   NaN
2            3  Charlie          3.0  23.0
3            4    David          4.0  34.0

Right Join:
    id_personne      nom  id_individu  age
0          3.0  Charlie            3   23
1          4.0    David            4   34
2          NaN      NaN            5   45
3          NaN      NaN            6   56

In [41]:
pd.concat([pandas_a, pandas_b], axis=0).reset_index(drop=True)

            1         2         3     4
0   -0.080130  0.656892 -0.620235   NaN
1    1.038732  1.797908  0.099740   NaN
2    1.007772 -0.059247  0.232895   NaN
3   -0.599243 -0.818630  1.527411   NaN
4   -0.963223 -0.569412 -0.758087   NaN
..        ...       ...       ...   ...
195       NaN       NaN       NaN  16.0
196       NaN       NaN       NaN  18.0
197       NaN       NaN       NaN   1.0
198       NaN       NaN       NaN  10.0
199       NaN       NaN       NaN   4.0

[200 rows x 4 columns]

In [39]:
a_b = np.concatenate((a,b.reshape((b.shape[0],1))), axis=1)

In [40]:
a_b.shape

(100, 4)